<!DOCTYPE html>
<html lang="en-us">
<head>
<title> Fixed Layout </title>
<link type="text/css" rel="stylesheet" href="Fixed_Layout.css" />
</head>
<body>
  <div id="container">

    <div class="header">
      <img src="logo.jpg" alt="" />
      </div>
    <div id="nav">
      </div>
    <div class="sidebar">
      </div>
      <div class="main">
        <div id="box">
          <p class="ARome">
            <a target="_blank" href="09.Working_With_Footer.html">
              <img src="rome.jpg" width="150" height="150" alt="" /></a>
          <p>
            in this series we are going to cover Ancient Rome. We
            wil cover the Roman Republic as well as the Roman Empire.
            Please click on the image above to load the series on Rome.
            </p>
          <div>
        <div>

    </div>


</body>

  </html>
