body{
  background-color: #9c9f84;
  margin: 0px;
  font-family: Verdana, Georgia, serif;
  font-size: 14px;
}

/*
we used only height to have a liquid responsive page.
*/
#header{
  background-color: #5c755e;
  margin: 10px;
  height: 90px;
  border-radius: 5px;
}

#nav ul{
  padding: 5px;
  list-style-type: none;
  text-align: center;
  background: #000;
  margin: 10px;
  border-radius: 5px;
}

#nav ul li{
  display: inline;
}

#nav ul li a{
  text-decoration: none;
  font-family: Arial;
  padding: .2em 1em;
  color: #fff;
  background-color: #000;
}

#nav ul li a:hover{
  background-color: #fff;
  color: #000;
}

.main{
  background-color: #e5e4d7;
  margin-left: 10px;
  margin-right: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  font-size: 110%
}

h1{
  font-size: 120%;
  color: #ce282e;
}

h2{
  font-size: 120%;
  color: darkblue;
}

h3{
  margin: 0px;
  font-size: 250%;
  text-align: center;
  color: #e5e4d7;
  font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
  /* to show text vertically */
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* very important in css
  the order of PROPERTIES is very important, otherwise it won't work
  for example if type it like this
  background-color: #e5e4d7;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  font-size: 105%
  float: right;
  width: 260px;
  I will have a trouble and both width and float won't work
  because they're under font-size.

*/
.sideright{
  background-color: #e5e4d7;
  margin-left: 10px;
  margin-right: 10px;
  /* we make margin-top 0px because of the margin of nav have 10px
  so if I make it 10px as well it become 20px.
  */
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 260px;
  float: right;
  /* clear proprty is important for sidebar to be clear in right in top-down
  order, and not side by side.
   this clear proprty is apply when you float an element.
    */
  clear: right;
  font-size: 105%
}

.imagesidebar{
  margin-left: 10px;
  margin-right: 10px;
  /* we make margin-top 0px because of the margin of nav have 10px
  so if I make it 10px as well it become 20px.
  */
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
  float: right;
  /* clear proprty is important for sidebar to be clear in right in top-down
  order, and not side by side.
   this clear proprty is apply when you float an element.
    */
  clear: right;
  /* some effects*/
  opacity: 0.7;
  transition: opacity 1s ease-in-out;
  font-size: 105%

}

.imagesidebar:hover{
 opacity: 1.0;
}

#footer{
  background-color: #5c755e;
  margin: 10px;
  height: 60px;
  border-radius: 5px;
  clear: both;
}
