#form{
text-align:center;
padding:25px;
margin: 7em 27% 15% 27%;
border: 1px dotted teal;
background-color:#CCCCFF;
color:Gray;
font-size:13px;
}
#lpass{
padding-right:6px;
}
#sign_up{
margin-left:10px;
font-family:accessories;
color:teal;
}
#sign_in{
margin-left:50px;
font-family:accessories;
color:teal;
}
#forget{
margin-left:50px;
font-family:none;
color:maroon;
}
h2{
font-family:arial;
font-size:25px;
color:Navy;
padding-left:35px;
}
h1{
font-family:arial;
border-bottom:1px solid maroon;
background-color:#999999;
margin:0;
padding:10px;
color:Navy;
}

body{
background-color:silver;
margin:0;
}
.cpy{
border:1px solid black;
margin:0;
background-color:#636363;
}
#down{
font-family:arial;
padding-top:14px;
margin-left:5px;
margin-right:5px;
margin-top:1px;
text-align:center;
color:rgb(197,197,197);
font-size:17px;
}